body{
    background-color: black;
    
}

#navbar {
    display: flex;
  justify-content: center;
}
.navbar-nav {
  font-size: 20px;
  color: #c50d72
}

.navweb {
  font-weight: bold;
  color: rgb(255, 0, 157);
}

.container {
    display: flex;
    
}
.container figure {
    border: 20px;
    padding-left: 10px;
    color: white;
    /* margin-right: 10em; */
}